@using WebLibrary.Models.Entity
@model List<tbl_Users>
@{
    ViewBag.Title = "PanelUserList";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>PanelUserList</h2>
<table class="table table-bordered">
    <tr>
        <th>Üye No</th>
        <th>Üye Adı</th>
        <th>Üye Soyadı</th>
        <th>Üye Mail Adresi</th>
        <th>Üye Telefon Numarası</th>
        <th>Adres</th>
        <th>Üyelik Tipi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.User_ID</td>
            <td>@item.User_Name</td>
            <td>@item.User_Surname</td>
            <td>@item.User_Mail</td>
            <td>@item.User_PhoneNumber</td>
            <td>@item.User_Adress</td>
            <td>@item.User_Type</td>
            <td>@Html.ActionLink("Sil", "DeleteUser", new { id = item.User_ID }, new { @class = "btn btn-danger", onclick = "return confirm('Gerçekten silmek istiyor musun ?')" })</td>
            <td><a href="UserDetails/@item.User_ID" class="btn btn-success">Güncelle</a></td>

        </tr>
    }
</table>
