@using WebLibrary.Models.Entity
@model List<tbl_BookReserve>
@{
    ViewBag.Title = "ReserveList";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<h2>ReserveList</h2>
<table class="table table-bordered">
    <tr>
        <th>Rezerv No</th>
        <th>Üye No</th>
        <th>Üye İsmi</th>
        <th>Kitap No</th>
        <th>Kitap Adı</th>
        <th>Rezerv Tarihi</th>
        <th>Sil</th>
        <th>Emanet Et</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Reserve_ID</td>
            <td>@item.User_ID</td>
            <td>@item.User_Name</td>
            <td>@item.Book_ID</td>
            <td>@item.Book_Name</td>
            <td>@item.Reserver_Date</td>
            <td>@Html.ActionLink("Sil", "DeleteReserve", new { id = item.Reserve_ID }, new { @class = "btn btn-danger", onclick = "return confirm('Gerçekten silmek istiyor musun ?')" })</td>
            <td>@Html.ActionLink("Emanet Et", "Deposit", new { id = item.Reserve_ID }, new { @class = "btn btn-info" })</td>
        </tr>
    }
</table>


